@import url(https://fonts.googleapis.com/css?family=Righteous);
:root {
  --primary: #1a8bd6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Urbanist", sans-serif; */
  font-family: "Montserrat", sans-serif;
  color: #000;
  line-height: 1.5;
}
a {
  transition: 0.3s;
}
.ttl {
  font-family: "Cormorant Garamond", serif;
}
.section-title {
  margin-bottom: 36px;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Cormorant Garamond", serif;
}

/* text animation css start */
.discount-price {
  display: inline-block;
  color: white;
  font-family: "Righteous", serif;
  font-size: 80px;
  text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1);
  line-height: 1;
  margin-left: 10px;
  margin-right: 12px;
}
.discount-price:after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.06em;
  left: 0.06em;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    hsla(48, 20%, 90%, 1) 45%,
    hsla(48, 20%, 90%, 1) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}

/* text animation css end */

/* header css start */
.header-area {
  padding-bottom: 15px;
  padding-top: 10px;
}
.logo img {
  width: 200px;
}
.telephone {
  font-weight: 800;
  font-size: 16px;
  color: #000;
}
.telephone svg {
  margin-right: 5px;
  transform: translateY(-1px);
}
/* header css end */

/* hero-area css start */
.hero-area {
  background-color: #277ff8;
  height: 690px;
}
.layer.one {
  right: 0;
  top: 0;
  max-height: 100%;
}
.layer.two {
  left: 0;
  bottom: 0;
  max-height: 100%;
}
.hero-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-gap: 40px;
  align-items: center;
}
.eye {
  background-color: #fff;
  overflow: hidden;
  width: 520px;
  padding: 24px;
  margin-left: auto;
}
.eye img {
  width: 100%;
  height: 100%;
}
.hero-content-lf {
  margin-bottom: 94px;
}
.hero-content-lf h1 {
  color: #fff;
  font-size: 64px;
  margin-bottom: 10px;
  line-height: 1.2;
  font-weight: 700;
}
.hero-content-lf p {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.mention-price del {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transform: translateY(-15px);
}
.mention-price {
  margin-top: 20px;
  margin-bottom: 16px;
}
.pulse-bg {
  animation: pulse 1.2s ease infinite;
  background: #ff3466;
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
.relative.commitment {
  max-width: 480px;
}
.book-short {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  line-height: 1;
  right: 0;
  top: -21px;
}
.pulse-bg {
  animation: pulse 1.2s ease infinite;
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/* hero-area css end */

/* hero-bottom-area css start */
.hero-bottom-area {
  margin-bottom: 40px;
}
.left-eye-img img {
  width: 520px;
  background-color: #fff;
  padding: 24px;
  margin-top: -103px;
  z-index: 1;
  position: relative;
}

.experts-short-wrapper ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
  list-style: none;
}
.experts-short-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.experts-short-wrapper ul li:not(:first-child) {
  margin-left: -10px;
}
.experts-short-wrapper ul li img {
  border-radius: 100%;
  width: 56px;
  height: 56px;
  display: block;
}
/* hero-bottom-area css end */

/* case-area css start */
.case-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
/* case-area css end */

/* about-treatment-area css start */
.about-treatment-area {
  padding-bottom: 70px;
}
.treatment-steps li {
  font-size: 18px;
  line-height: 1.6;
}
.treatment-steps li:not(:last-child) {
  margin-bottom: 24px;
}
.treatment-steps {
  list-style: square;
  margin-left: 15px;
}
.treatment-steps li strong {
  display: inline-block;
}
/* about-treatment-area css end */

/* contact-area css start */
.contact-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.input-inside {
  margin-bottom: 20px;
}
.input-inside label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 16px;
}
.required {
  color: red;
}
.input-inside input {
  width: 100%;
  height: 100%;
  height: 44px;
  border: 1px solid black;
  padding: 0 16px;
}
.contact-form {
  background-color: #ddd;
  padding: 50px;
}
.map iframe {
  height: 100%;
  width: 100%;
  display: block;
}
/* contact-area css end */

/* testimonial-area css start */
.testimonial-section {
  padding-top: 55px;
}
/* testimonial-area css end */

/* team-area css start */
.team-members-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.team-area {
  padding-top: 70px;
  padding-bottom: 70px;
}
/* team-area css end */

/* benefits-area css start */

.benefits-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.benefit-icon img {
  max-width: 100%;
  max-height: 100%;
}
.benefit-icon {
  margin-bottom: 15px;
  height: 95px;
}
.hr-line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin-top: 65px;
  margin-bottom: 55px;
}
.benefit-single {
  border: 1px solid #ddd;
  padding: 20px;
}
.benefit-area {
  padding-top: 55px;
}
/* benefits-area css end */

/* footer-area css start */
.footer-area {
  background-color: #277ff8;
  padding-top: 55px;
  padding-bottom: 51px;
}
.cta-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* footer-area css end */
