@import url(https://fonts.googleapis.com/css?family=Righteous);
:root {
  --primary: #277ff8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  line-height: 1.5;
}
a {
  transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Cormorant Garamond", serif;
}
.section-title {
  margin-bottom: 36px;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Cormorant Garamond", serif;
}

/* text animation css start */
.discount-price {
  display: inline-block;
  color: white;
  font-family: "Righteous", serif;
  font-size: 80px;
  text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1);
  line-height: 1;
  margin-left: 10px;
  margin-right: 12px;
}
.discount-price:after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.06em;
  left: 0.06em;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    hsla(48, 20%, 90%, 1) 45%,
    hsla(48, 20%, 90%, 1) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}

/* text animation css end */

/* header css start */
.header-area {
  padding-bottom: 15px;
  padding-top: 10px;
}
.logo img {
  width: 200px;
}
.telephone {
  font-weight: 800;
  font-size: 16px;
  color: #000;
}
.telephone svg {
  margin-right: 5px;
  transform: translateY(-1px);
}
.header-area .contact {
  margin-top: 10px;
}
/* header css end */

/* hero-area css start */
.hero-area {
  background-color: #277ff8;
  height: 690px;
}
.layer.one {
  right: 0;
  top: 0;
  max-height: 100%;
}
.layer.two {
  left: 0;
  bottom: 0;
  max-height: 100%;
}
.hero-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-gap: 40px;
  align-items: center;
}
.eye {
  background-color: #fff;
  overflow: hidden;
  width: 520px;
  padding: 24px;
  margin-left: auto;
}
.eye img {
  width: 100%;
  height: 100%;
}
.hero-content-lf {
  margin-bottom: 94px;
}
.hero-content-lf h1 {
  color: #fff;
  font-size: 64px;
  margin-bottom: 10px;
  line-height: 1.2;
  font-weight: 700;
}
.hero-content-lf p {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.mention-price del {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transform: translateY(-15px);
}
.mention-price {
  margin-top: 20px;
  margin-bottom: 16px;
}
.pulse-bg {
  animation: pulse 1.2s ease infinite;
  background: #ff3466;
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
.relative.commitment {
  max-width: 480px;
}
.book-short {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  line-height: 1;
  right: 0;
  top: -21px;
  text-decoration: none;
  text-align: center;
}
.pulse-bg {
  animation: pulse 1.2s ease infinite;
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/* hero-area css end */

/* hero-bottom-area css start */
.hero-bottom-area {
  margin-bottom: 40px;
}
.left-eye-img img {
  width: 520px;
  background-color: #fff;
  padding: 24px;
  margin-top: -103px;
  z-index: 1;
  position: relative;
  box-shadow: 0px 5px 5px #ddd6;
}
.hero-btm-rg {
  padding-left: 40px;
}
.experts-short-wrapper ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
  list-style: none;
}
.experts-short-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.experts-short-wrapper ul li:not(:first-child) {
  margin-left: -10px;
}
.experts-short-wrapper ul li img {
  border-radius: 100%;
  width: 56px;
  height: 56px;
  display: block;
}

.cmn-link {
  color: #000;
  font-weight: 500;
}
.cmn-link:hover {
  color: var(--primary);
}
/* hero-bottom-area css end */

/* case-area css start */
.case-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
/* case-area css end */

/* about-treatment-area css start */
.treatment-steps li {
  font-size: 18px;
  line-height: 1.6;
}
.treatment-steps li:not(:last-child) {
  margin-bottom: 24px;
}
.treatment-steps {
  list-style: square;
  margin-left: 15px;
}
.treatment-steps li strong {
  display: inline-block;
}
.testimonial-area .layer {
  width: 350px;
}
/* about-treatment-area css end */

/* contact-area css start */
.contact-area {
  padding: 70px 0;
}
.contact-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.input-inside {
  margin-bottom: 20px;
}
.input-inside label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 16px;
}
.required {
  color: red;
}
.input-inside input {
  width: 100%;
  height: 44px;
  border: 1px solid transparent;
  padding: 0 16px;
  transition: 0.3s;
  font-size: 15px;
  color: #000;
}
.input-inside input:focus {
  outline: none;
  border-color: #277ff8;
}
.contact-form {
  background-color: #f1f1f1;
  padding: 50px;
}
.map iframe {
  height: 100%;
  width: 100%;
  display: block;
}
.box-btn {
  background-color: #444;
  color: #fff;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 24px;
  cursor: pointer;
  min-width: 130px;
  height: 44px;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}
.box-btn:hover {
  background-color: #000;
}

.terms-condition-wrap p a {
  color: #000;
  text-decoration: underline;
}
.terms-condition-wrap p a:hover {
  color: var(--primary);
}
.terms-condition-wrap {
  margin-bottom: 20px;
}
input[type="checkbox"] {
  position: relative;
  border: 2px solid #000;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  opacity: 0.5;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: #000;
  opacity: 1;
}
input[type="checkbox"]:checked::before {
  border-color: #fff;
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid transparent;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}
/* contact-area css end */

/* testimonial-area css start */
.testimonial-area {
  padding: 70px 0;
  background: var(--primary);
}
.testimonial-item {
  padding: 30px;
  border-radius: 3px;
  background: #ffffff2e;
  max-width: 450px;
  margin: 0 auto;
  border: 1px solid #ffffff2e;
}
.testimonial-outer-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.testimonial-left {
  width: 40%;
  flex: 0 0 40%;
  padding-right: 50px;
}
.testimonial-right {
  width: 60%;
  flex: 0 0 60%;
}

.reviwer-thumb img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.reviwer {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  gap: 20px;
}
.reviwer p {
  color: #fff;
  font-size: 22px;
  margin-bottom: 6px;
  font-weight: 600;
  margin-bottom: 10px !important;
}
.reviwer p span {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 3px;
}
.testimonial-item p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 22px;
}

.section-title.white h2 {
  color: #fff;
}
.testimonial-left .section-title h2 {
  line-height: 1.2;
  margin-bottom: 15px;
}
.testimonial-left p {
  color: #fff;
}
.testimonial-carousel {
  display: flex;
}
/* testimonial-area css end */

/* team-area css start */
.team-members-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.team-area {
  padding-top: 70px;
  padding-bottom: 70px;
}

.member-description h3 {
  font-size: 28px;
  margin-bottom: 7px;
  line-height: 1.2;
}
.member-description p {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 10px;
}
.member-thumb {
  margin-bottom: 15px;
  background-color: #ddd;
}

.know-more {
  color: #000;
  text-decoration: underline;
}
.know-more svg {
  margin-left: 5px;
  transform: translateY(2px);
}
/* team-area css end */

/* benefits-area css start */

.benefits-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.benefit-icon img {
  max-width: 100%;
  max-height: 100%;
}
.benefit-icon {
  margin-bottom: 15px;
  height: 95px;
}
.hr-line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin-top: 65px;
  margin-bottom: 55px;
}
.benefit-single {
  border: 1px solid #ddd;
  padding: 20px;
}
.benefit-area {
  padding-top: 55px;
}
/* benefits-area css end */

/* footer-area css start */
.footer-area {
  background-color: #277ff8;
  padding-top: 55px;
  padding-bottom: 51px;
}
.footer-g-wrapper {
  grid-template-columns: 270px 1.1fr 1fr;
  display: grid;
  grid-gap: 30px;
}
.subscribe .input-inside {
  display: grid;
  grid-template-columns: auto 130px;
  margin: 0;
}
.footer-area .section-title h2 {
  color: #fff;
  line-height: 1.1;
}
.footer-area .section-title {
  margin-bottom: 20px;
}
.lgo-part img {
  width: 250px;
  background-color: #fff;
  padding: 15px;
  padding-top: 10px;
}

.cta-content p,
.cta-content a {
  color: #fff;
}
.cta-content p {
  margin-bottom: 10px;
}
.lgo-part .place {
  color: #fff;
  margin-top: 5px;
}
.lgo-part .place svg {
  margin-right: 2px;
  transform: translateY(2px);
}
.box-btn.border_white {
  border: 1px solid #fff;
}
.subscribe input:focus {
  border-color: transparent;
}
.back-to-top {
  right: 65px;
  top: 60px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  z-index: 5;
}
/* footer-area css end */

@media screen and (max-width: 1439px) {
  .back-to-top {
    right: 20px;
    top: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .eye {
    width: 430px;
  }
  .case-g-wrapper,
  .benefits-g-wrapper,
  .team-members-wrapper {
    grid-gap: 24px;
  }
  .hero-content-lf h1 {
    font-size: 48px;
  }
  .hero-area {
    height: 650px;
  }
}
@media screen and (max-width: 991px) {
  .footer-g-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .footer-area .layer {
    display: none;
  }
  .testimonial-outer-wrapper {
    display: block;
  }
  .testimonial-left {
    width: 100%;
    padding-right: 0;
  }
  .testimonial-right {
    width: 100%;
  }
  .contact-g-wrapper,
  .hero-content {
    display: block;
  }
  .map {
    margin-top: 30px;
  }
  .map iframe {
    height: 250px;
  }
  .case-g-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .hero-area {
    height: auto;
    padding-top: 45px;
    padding-bottom: 55px;
  }
  .eye {
    width: 100%;
  }
  .hero-content-lf {
    margin-bottom: 60px;
  }
  .hero-bottom-area {
    flex-direction: column-reverse;
    padding-top: 48px;
  }
  .left-eye-img img {
    width: 100%;
    padding: 24px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px #ddd6;
  }
  .benefits-g-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hero-btm-rg {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .logo img {
    width: 140px;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero-content-lf h1 {
    font-size: 36px;
  }
  .hero-content-lf p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .mention-price del {
    font-size: 14px;
  }
  .discount-price {
    font-size: 42px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .book-short {
    width: 65px;
    height: 65px;
    font-size: 15px;
    top: 30px;
  }
  .eye {
    padding: 16px;
    display: block;
  }
  .hero-area {
    height: auto;
    padding-top: 34px;
    padding-bottom: 50px;
  }
  .header-area {
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .telephone {
    font-size: 14px;
  }
  .hero-bottom-area {
    flex-direction: column-reverse;
    padding-top: 36px;
    margin-bottom: 30px;
  }
  .section-title h2 {
    font-size: 28px;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .case-g-wrapper,
  .team-members-wrapper {
    grid-template-columns: 1fr;
  }
  .benefit-area {
    padding-top: 30px;
  }
  .benefits-g-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .treatment-steps li {
    font-size: 15px;
  }
  .treatment-steps li:not(:last-child) {
    margin-bottom: 16px;
  }
  .hr-line {
    margin-top: 40px;
    margin-bottom: 34px;
  }
  .contact-area {
    padding: 45px 0;
  }
  .contact-form {
    padding: 24px 16px;
  }
  .testimonial-area {
    padding: 40px 0;
  }
  .team-area {
    padding-top: 35px;
    padding-bottom: 45px;
  }
  .footer-g-wrapper {
    grid-template-columns: 1fr;
  }
  .testimonial-area .layer,
  .layer.two {
    display: none;
  }
  .testimonial-carousel {
    display: block;
  }
  .footer-area {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
